:root {

}

@font-face {
	font-family: "Berlinerins";
	src: url("assets/TTBerlinerins.otf") format("opentype"), local("TT Berlinerins Trial");
}

.preventselect {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.active {
	display:block;
}

.inactive {
	display:none;
}

.defaultnav {
	position:absolute;
	z-index:6;
}

.defaultnav header {
	position:fixed;
	display:block;
	width:100%;
	text-align:center;
	top:0;
	left:0;
	background-color:#000;
}

.defaultnav nav {
	position:fixed;
	font-size:0;
	width:100%;
	text-align:center;
	background-color: #000;
	left:0;
	bottom:0.75rem;
	height:4.55rem;
	z-index:2;
}

.defaultnav p {
	font-family:"IBM Plex Mono",monospace;
	font-style: italic;
	font-size:9px;
	color:#999;
}

.defaultnav .headimg {
	margin-left:auto;
	margin-right:auto;
	margin-top:1%;
	max-width:100%;
	animation: slideIn 1.7s forwards, fadeIn 4.5s forwards;
}

.defaultnav .nava {
	display:inline-block;
	margin:1.0% 3.5%;
	opacity:0;
	animation:slideIn-bottom 2.5s forwards, fadeIn 4.5s forwards;
	
	font-family:"Barlow Condensed", sans-serif;
	font-weight:400;
	font-size:1.55rem;
	font-style: normal;
	color:#FFF;	
}
.curtains {
	position:absolute;
	width:15vw;
	min-height:90vh;
	top: 0vh;
}



.mobilenav {
}


.mobilenav header {
	position:fixed;
	display:inline-block;
	width:100%;
	top:0;
	left:0;
	background-color:#000;
}

.mobilenav h2 {
	display:inline-block;
	font-family: "Cormorant Infant", serif;
	font-weight: 300;
	font-style: italic;
	transform:translateY(-500);
	color:#FFF;
}

.mobilenav .headimg {
	display:inline-block;
	left:0px;
	margin-left:4%;
	margin-top:2%;
}

.center {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
	animation:slideIn-bottom 1.5s forwards, fadeIn 3.5s forwards;
}

.dropshadow {
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.4);
}

.dropshadowposter {
	box-shadow: 3px 5px 7px 0 rgba(0,0,0,0.6);
}

.grad {
	height: 2.5rem;
	width: 100%;
	background-color: transparent;
	position:fixed;

	background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}

.flip {
	transform: rotate(180deg);
}

.content {
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height:100%;
	left:50%;
	z-index:-1;
}

.content .imgwrap {
	position: relative;
	display:inline-block;
	max-width:100%;
}

.content .imgwrap img {
	display: block;
	width: 100%;
	height: auto;
}

.content .contentbg {
	width: 56vw;
	height: 52vh;
	background: #F5EEE7;
	position:absolute;
	transform:translateX(-2vw);
}

.content h1 {
	font-family:"Berlinerins", sans-serif;
	font-weight:30;
	font-size:3.8rem;
	font-size:4.222vw;
	color:#696461;
}

.content p,ul {
	line-height:1.5;
	font-family: "Onest", sans-serif;
	font-size: 0.9rem;
	color:#827d79;
}

.buttons {
	list-style:none;
	position:absolute;
	left:3vw;
	bottom:-3vh;
}

.buttons li {
	position:relative;
	display:inline-block;
}

.buttons span {
	background-color: #f0e7df;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bab0a8), to(#cfc4ba));
	position: relative;
	text-align: center;
	color: #a7a7a7;
	width: 3vw;
	height: 3vw;
	line-height: 3vw;
	border-radius: 50%;
	display:flex;
	align-items:center;
	justify-content:center;
	filter:drop-shadow(0 10px 10px rgba(0,0,0,0.4));
}

.buttons .clicked {
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0e7df), to(#e6dbd1));
	color: #999;
}

.link {
	left:2vw;
	position:relative;
	margin-top:3vh;
}


.link a {
	text-decoration: none;
	position: absolute;
	font-family: "Berlinerins", sans-serif;
	font-size:1.417vw;
	font-weight:300;
	color:#7a7471;
	left:7vw;
	filter:drop-shadow(0 0 5px rgba(0,0,0,0.2));
}

.igembed {
	position:absolute;
	border-radius:5px;
	border-style:solid;
	border-color:#545454;
	border-width:1px;
	width:30vw;
	height:65vh;
	background-color:#212121;
	display:flex;
	flex-direction:column;
}

.igembed p{
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	color:#FFF;
}

.iglogo{
	opacity:0;
}

#postframe {
	width:80vw;
	height:80vh;
	display:none;
	position:fixed;
	top:10vh;
	right:10vw;
	animation: slideIn-bottom 1s forwards;
	overflow:hidden;
	z-index 50;
	border:none;
}

#blocker {
	width:100vw;
	height:100vh;
	position:fixed;
	top:0;
	right:0;
	background-color:rgba(0,0,0,0.5);
	display:none;
}

#xbtn {
	font-size:3rem;
	position:fixed;
	top:11vh;
	right:11vw;	
	color:#FFF;
	animation: slideIn-bottom 1s forwards;
	display:none;
	filter:drop-shadow(0 0 3px rgba(0,0,0,0.4));
}

.post {

}

.post img{
	transition:transform 0.2s;
}

.postblock {
	position:absolute;
	width:100%;
	height:100%;
}

.video-container {
	width:90%;
	height:80%;
	position:relative;
	margin:5%;
	margin-bottom:10%;
}

.photo-container {
	width:80%;
	height:80%;
	position:relative;
	margin:10%;
}

#maincontent {
	position:absolute;
	z-index:5;
}

#visible {
  animation: firstslide 3.0s forwards;
}

.mask {
	position: absolute;
	inset: 0;
	background: rgba(0,0,0,0.50);
	
	--x: 50%;
	--y: 50%;

	mask-image:radial-gradient(
		circle 20vw at var(--x) var(--y),
		transparent 0%,
		transparent 95%,
		black 100%
	);
	-webkit-mask-image:radial-gradient(
		circle 20vw at var(--x) var(--y),
		transparent 0%,
		transparent 95%,
		black 100%
	);
}

.mask2 {
	position: absolute;
	inset: 0;
	background: rgba(0,0,0,0.50);

	--x: 50%;
	--y: 50%;
	
	mask-image:radial-gradient(
		ellipse 20vw 7vw at var(--x) var(--y),
		transparent 0%,
		transparent 95%,
		black 100%
	);
	-webkit-mask-image:radial-gradient(
		ellipse 20vw 7vw at var(--x) var(--y),
		transparent 0%,
		transparent 95%,
		black 100%
	);
}


.hiddencontent {
	height: 100vh;
	opacity:0;
	position:relative;
	color:white;
	z-index:-1;
	margin:0;
	scroll-snap-align: start;
}

.credit {
	position:fixed;
	display:inline-block;
	width:100%;
	text-align:center;
	background-color:#000;
	height:2rem;
	bottom:-1vh;
	left:0;
	margin:0;
	z-index:3;
}

a {
	text-decoration:none;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

body {
	background-color:#000;
	margin:0;
	max-height:500vh;
	overflow-y:scroll;	
	overflow-x:hidden;
	height:600vh;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.form {
	border-radius:15px;
	border: 2px solid #696461;
	position:absolute;
	width:50vw;
	height:55vh;
}


@keyframes fadeIn {
	0% {opacity:0.0;}
	100% {opacity:1;}
}

@keyframes slideIn {
	0% {transform: translateY(-1000px);}
	100% {transform: translateY(0);}
}

@keyframes slideIn-bottom {
	0% {transform: translateY(1000px);}
	100% {transform: translateY(0);}
}

@keyframes firstslide {
	0% {transform: translateX(100vw);}
	75% {transform: translateX(100vw);}
	100% {transform: translateX(0vw);}
}


.buttons:has(.clicked:hover) span:hover{
	text-decoration: none;
	color: #555;
	background: #f0e7df;
}

.buttons:not(:has(.clicked:hover)) span:hover{
	text-decoration: none;
	color: #555;
	background: #ada49c;
}

nav:has(.nava:hover) .nava{
	color: #999;
}

nav:has(.nava:hover) .nava:hover {
	color: #FFF;
}

.link a:hover {
	color:#696461;
}

.iglogo:hover {
	opacity:0.3;
}

.post:has(.postblock:hover) img{
	transform:scale(1.2);
}

#posts .postblock:hover {
	opacity:0;
}

#posts:has(.postblock:hover) #boardblock{
	background-color:rgba(0,0,0,0.3);
}

#posts:has(.postblock:hover) .postblock{
	background-color:rgba(0,0,0,0.3);
}

#xbtn:hover{
	cursor:pointer;
}
.postblock:hover{
	cursor:pointer;
}


.nava:nth-child(2) {animation-delay:0.1s;}
.nava:nth-child(3) {animation-delay:0.2s;}
.nava:nth-child(4) {animation-delay:0.3s;}
.nava:nth-child(5) {animation-delay:0.4s;}
.nava:nth-child(6) {animation-delay:0.5s;}
.nava:nth-child(7) {animation-delay:0.6s;}

.center:nth-child(2) {animation-delay:0.4s;}
