:root {
}

.preventselect {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.defaultnav {

}

.defaultnav header {
	position:fixed;
	display:block;
	width:100%;
	text-align:center;
	top:0;
	left:0;
	background-color:#000;
}

.defaultnav nav {
	position:fixed;
	font-size:0;
	width:100%;
	text-align:center;
	background-color: #000;
	left:0;
	bottom:0.75rem;
	height:4.55rem;
	z-index:2;
}

.defaultnav p {
	font-family:"IBM Plex Mono",monospace;
	font-style: italic;
	font-size:9px;
	color:#999;
}

.defaultnav .headimg {
	margin-left:auto;
	margin-right:auto;
	margin-top:1%;
	max-width:100%;
	animation: slideIn 1.7s forwards, fadeIn 4.5s forwards;
}

.defaultnav .nava {
	display:inline-block;
	margin:1.0% 3.5%;
	opacity:0;
	animation:slideIn-bottom 2.5s forwards, fadeIn 4.5s forwards;
	
	font-family:"Barlow Condensed", sans-serif;
	font-weight:400;
	font-size:1.55rem;
	font-style: normal;
	color:#FFF;	
}


.mobilenav {
}


.mobilenav header {
	position:fixed;
	display:inline-block;
	width:100%;
	top:0;
	left:0;
	background-color:#000;
}

.mobilenav h2 {
	display:inline-block;
	font-family: "Cormorant Infant", serif;
	font-weight: 300;
	font-style: italic;
	transform:translateY(-500);
	color:#FFF;
}

.mobilenav .headimg {
	display:inline-block;
	left:0px;
	margin-left:4%;
	margin-top:2%;
}


.grad {
	height: 2.5rem;
	width: 100%;
	background-color: transparent;
	position:fixed;

	background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}

.flip {
	transform: rotate(180deg);
}

.content {
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height:100%;
	left:50%;
	z-index:-1;
}

.content .imgwrap {
	position: relative;
	display:inline-block;
	max-width:100%;
}

.content .imgwrap img {
	display: block;
	width: 100%;
	height: auto;
}


.content .contentbg {
	width: 50vw;
	height: 50vh;
	background: #F5EEE7;
	position:absolute;
	transform:translateX(-5vw);
}

.mask {
	position: absolute;
	inset: 0;
	background: rgba(0,0,0,0.50);
	
	--x: 50%;
	--y: 50%;

	mask-image:radial-gradient(
		circle 20vw at var(--x) var(--y),
		transparent 0%,
		transparent 95%,
		black 100%
	);
	-webkit-mask-image:radial-gradient(
		circle 20vw at var(--x) var(--y),
		transparent 0%,
		transparent 95%,
		black 100%
	);
}

.mask2 {
	position: absolute;
	inset: 0;
	background: rgba(0,0,0,0.50);

	--x: 50%;
	--y: 50%;
	
	mask-image:radial-gradient(
		ellipse 20vw 7vw at var(--x) var(--y),
		transparent 0%,
		transparent 95%,
		black 100%
	);
	-webkit-mask-image:radial-gradient(
		ellipse 20vw 7vw at var(--x) var(--y),
		transparent 0%,
		transparent 95%,
		black 100%
	);
}


.hiddencontent {
	height: 100vh;
	opacity:0;
	position:relative;
	color:white;
	z-index:-1;
	margin:0;
	scroll-snap-align: start;
}

.credit {
	position:fixed;
	display:inline-block;
	width:100%;
	text-align:center;
	background-color:#000;
	height:2rem;
	bottom:-1vh;
	left:0;
	margin:0;
	z-index:3;
}

a {
	text-decoration:none;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

body {
	background-color:#000;
	margin:0;
	max-height:500vh;
	overflow-y:scroll;	
	overflow-x:hidden;
	height:600vh;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}


@keyframes fadeIn {
	0% {opacity:0.0;}
	100% {opacity:1;}
}

@keyframes slideIn {
	0% {transform: translateY(-1000px);}
	100% {transform: translateY(0);}
}

@keyframes slideIn-bottom {
	0% {transform: translateY(1000px);}
	100% {transform: translateY(0);}
}

nav:has(.nava:hover) .nava{
	color: #999;
}

nav:has(.nava:hover) .nava:hover {
	color: #FFF;
}

.nava:nth-child(2) {animation-delay:0.1s;}
.nava:nth-child(3) {animation-delay:0.2s;}
.nava:nth-child(4) {animation-delay:0.3s;}
.nava:nth-child(5) {animation-delay:0.4s;}
.nava:nth-child(6) {animation-delay:0.5s;}
.nava:nth-child(7) {animation-delay:0.6s;}
