@media only screen and (max-width: 840px) {
	.defaultnav{
		display: none;
	}

	.mobilenav{
		display: block;
	}
	
	html{
		overflow:hidden;
	}
}

.center {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
